body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #c3e474d9;
}

html {
    height: 100%;
}

#vk_comments_block {
    max-width: 748px;
    margin: 0 auto;
}

#root {
    height: 100%;
}

button:focus, input:focus {
    outline:0;
}